.features {
    margin-top: 40px;
    margin-bottom: 250px;
    box-sizing: content-box;
    box-shadow: 0 30px 30px rgba(0,0,0,.02);
    background-color: #fafafa;
}

.container {
    max-width: 1105.48px;
    max-height: 441.17px;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    margin-left: 150px;
}

.img{
    width: 348px;
    margin-right: -74px;
    margin-bottom: -30px;
}


   
