.headerBottom {
    max-Width: 1140px;
    max-Height: 100px;
    border-Radius: 109px;
    box-Shadow: 0 50px 60px rgba(136, 126, 126, 0.10);
}
.headerBottomItem {
    height: -37px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin-left: -1120px;
    margin-bottom: -435px;
    margin-top: 205px;
}

.itemText {
    display: inline-block;
    font-Size: 25px;
    font-Weight: 700;
    line-Height: 60px;
}

.label{
    display: flex;
    justify-content: space-around;
     /* top: 300%; */
    font-Size: 20px;
    font-Weight: 400px;
    line-Height: 10px;
    color: #4F5665;
}

.avatar {
   
    width: 151px;
    height: 97px;
    margin-bottom: 17px;
   
    /* margin-left: 138px;
    margin-top: 30px; */
    

}






.person{
    font-Size: 25px;
    /* font-Weight: 700px; */
    line-Height: 30px;
}

.border{
    width: 0px;
    height: 125.57px;
    right: 0%;
    position: absolute;
    border: 2px solid #EEEFF2;
}